<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('board')"></head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: navbar('board')">
	</nav>

	<div class="container">
		<h2>게시판</h2>
		<div>총 갯수 : <span th:text="${boardList.totalElements}"></span>
		</div>

		<form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
			<div class="form-group mx-sm-3 mb-2">
				<label for="searchText" class="sr-only">검색</label>
				<input type="text" class="form-control" id="searchText" name="searchText" placeholder="검색 내용" th:value="${param.searchText}">

			</div>
			<button type="submit" class="btn btn-light mb-2">검색 </button>

		</form>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<!-- <th scope="col">조회수</th> -->
				</tr>
			</thead>

			<tbody>
				<tr th:each="board : ${boardList}">
					<td th:text="${board.boardId}">1</td>
					<td><a th:text="${board.title}" th:href="@{/board/write(boardId=${board.boardId})}">제목</a></td>
					<td th:text="${board.user.userName}">홍길동</td>
					<!-- <td th:text="${boards.boardId}">1</td> -->
				</tr>

			</tbody>
		</table>


		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${1 == boardList.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" th:href="@{/board/list(page=${boardList.pageable.pageNumber - 1}, searchText=${param.searchText})}"
						tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				<li class="page-item" th:classappend="${i == boardList.pageable.pageNumber + 1} ? 'disabled'"
					th:each="i : ${#numbers.sequence(startPage, endPage)}">
					<a class="page-link" th:href="@{/board/list(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}">1</a>
				</li>

				<li class="page-item"
					th:classappend="${boardList.totalPages == boardList.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" th:href="@{/board/list(page=${boardList.pageable.pageNumber + 1}, searchText=${param.searchText})}">
						Next</a>
				</li>
			</ul>
		</nav>



		<div class="text-right">
			<a type="button" class="btn btn-primary" th:href="@{/board/write}">쓰기</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>