<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('회원가입')">
    <link th:href="@{/css/sign-in.css}" rel="stylesheet">
</head>

<body class="text-center">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: navbar('home')">
    </nav>

    <form class="form-signin" id="form-signin" th:action="@{/account/register}" method="post" autocomplete="off">
        <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg"
                alt="" width="72" height="72"></a>
        <h1 class="h3 mb-3 font-weight-normal">회원 가입</h1>

        <label for="inputId" class="sr-only">ID</label>
        <input type="text" id="inputId" name="userName" class="form-control" placeholder="ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="userPassword" class="form-control" placeholder="Password" required>

        <br>
        <br>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option1" name="userAuthority" class="custom-control-input" value="1" checked="true">
            <label class="custom-control-label" for="option1">User</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option2" name="userAuthority" class="custom-control-input" value="2">
            <label class="custom-control-label" for="option2">Admin</label>
        </div>
        <br>
        <br>
        <br>

        <div>
            <button class="btn btn-lg btn-primary" type="submit" id="btn-signin">회원 가입</button>
        </div>
        <br>
        <!--<p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>-->
    </form>

    

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- <script th:inline="javascript" src="/static/js/register.js"></script> -->
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#form-signin").submit(function (event) {
                event.preventDefault();
                registerAJAX();
            });
        });
        
        function registerAJAX() {
            var userAuthority = $("input[name='userAuthority']:checked");
            
            let signinForm = {
                userName: $("#inputId").val(),
                userPassword: $("#inputPassword").val(),
                userAuthority: userAuthority.val()
            };
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            console.log(JSON.stringify(signinForm));   //stringify : json을 문자열로 변환해서 넘김
            console.log(token);
            console.log(header);
            $.ajax({
                type: "POST",
                url: "/account/register",
                //async:false,     //동기화로 설정함 
                //contentType:"applicaton/json; charset=utf-8", //http body 데이터의 타입 설정(MIME)       
                data: JSON.stringify(signinForm),   //http body 데이터
                dataType: "json", //서버에서 응답이 왔을때 기본적으로는  string 하지만 json으로 정해준다면 javascript 오브젝트로 변경해줌
                cache: false,
                
                beforeSend : function(xhr){
                    if(token && header){
                        xhr.setRequestHeader("Accept","application/json; charset=utf-8");
                        xhr.setRequestHeader("Content-Type","application/json; charset=utf-8");
                        xhr.setRequestHeader(header, token);
                    }
                }, 
                success: function (data) {
                    alert("회원가입 성공");
                    location.href = "/account/login";
                },
                error: function (error) {
                    console.log(error.status);
                    
                    if(error.status === 400){
                        alert("이미 존재하는 ID입니다. Id를 바꿔주세요");
                        console.log("id duplicate");
                        $('#form-signin').each(function (){
                           this.reset();
                        });
                    }
                    else if (error.status === 500){
                        alert("서버 오류");
                        console.log("server error");
                    }
                    else{
                        console.log("ERROR : ", error);
                        alert("통신 실패 ");
                        console.log("http status : " +error.status);
                    }
                   
                },
            });
        }
        </script>
       
</body>

</html>