<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('admin')"></head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: navbar('admin')">
	</nav>

	<div class="container">
		<h2>유저 리스트</h2>
		<div>총 인원수 : <span th:text="${userList.totalElements}"></span>
		</div>

		

		<form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/admin/userList}">
			<div class="form-group mx-sm-3 mb-2">
				<label for="searchText" class="sr-only">검색</label>
				<input type="text" class="form-control" id="searchText" name="searchText" placeholder="검색 내용" th:value="${param.searchText}">
			</div>
			<button type="submit" class="btn btn-light mb-2">검색</button>

		</form>

		<table class="table table-hover" id = "userList">
			<thead>
				<tr>
					<th scope="col" class="text-center">번호</th>
					<th scope="col" class="text-center">userName</th>
					<th scope="col" class="text-center">생성일</th>
					<th scope="col" class="text-center">삭제</th>

					<!-- <th scope="col" class="text-center">작성자</th>
					<th scope="col" class="text-center">작성일</th>
					<th scope="col" class="text-center">최종 수정일</th>
					<th scope="col">조회수</th> -->
				</tr>
			</thead>

			<tbody>

				<tr th:each="user : ${userList}">
					<td class="text-center" th:text="${user.userId}">1</td>
                    <td class="text-center" th:text="${user.userName}">user1</td>
					<td class="text-center" th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}">2021-01-01 00:00:00</td>
					<td><input type="button" class="btn btn-danger col text-center deleteButton" value="삭제"/></td>


					<!-- <td class="text-center"><a th:text="${user.userName}" th:href="@{/board/view(boardId=${board.boardId})}">제목</a></td> -->
					<!-- <td class="text-center" th:text="${board.user.userName}">홍길동</td>
					<td class="text-center" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}">2021-01-01 00:00:00</td>
					<td class="text-center" th:text="${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm:ss')}">2021-01-01 00:00:00</td>
					<td class="text-center" th:text="${board.viewCount}">0</td> -->
				</tr>

			</tbody>
		</table>


		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${1 == userList.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/userList(page=${userList.pageable.pageNumber - 1}, searchText=${param.searchText})}"
						tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				<li class="page-item" th:classappend="${i == userList.pageable.pageNumber + 1} ? 'disabled'"
					th:each="i : ${#numbers.sequence(startPage, endPage)}">
					<a class="page-link" th:href="@{/admin/userList(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}">1</a>
				</li>

				<li class="page-item"
					th:classappend="${userList.totalPages == userList.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/userList(page=${userList.pageable.pageNumber + 1}, searchText=${param.searchText})}">
						Next</a>
				</li>
			</ul>
		</nav>

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" 
		integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" 
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
		$(".deleteButton").click(function(){
			var answer = confirm("정말로 삭제하시겠습니까?");
			if(answer==true) {
				const token = $("meta[name='_csrf']").attr("content");
				const header = $("meta[name='_csrf_header']").attr("content");

				var button =$(this);
				var tr = button.parent().parent();
				var td =tr.children();
				var userId =td.eq(0).text();

				console.log(userId);
				$.ajax({
					url: "/admin/userDelete/" + userId,
					type: "DELETE",

					beforeSend: function (xhr) {
						if (token && header) {
							xhr.setRequestHeader("Accept", "application/json; charset=utf-8");
							xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
							xhr.setRequestHeader(header, token);
						}
					},

					success: function () {
						alert("삭제 성공!");
						location.href = "/admin/userList";
					},
					error: function (error) {
						console.log(error);
						alert(error);
						alert("삭제 실패!");
					}
				});
			}
		});

		
		</script>

</body>

</html>